<html>
    <head>
    <title> Meow Tasks</title>
    <script type="text/javascript" src="/static/main.js"></script>
    <link href="/static/main.css" rel="stylesheet">
    </head>

    <body>
        <h1> Add new task!</h1>

        <form>
            <div>
                <input type="text" name="todo" id="todo">
                <label for="todo">TODO</label>
            </div>
                <input type="date" name="deadline" id="deadline">
                <label for="deadline">Срок</label>
                <div>
                    <button onClick="createTask()">
                        Добавить
                    </button>
                </div>
        </form>
        <ul>
            {% for task in tasks_list %}
            <li>
                <div>
                    <div>
                        {{ task['deadline']}}
                    </div>
                    <div>
                        {{ task['todo']}}
                    </div>
                    <input value="{{task['id']}}" onChange="updateTask(this)" name='ready' type="checkbox" {% if task.ready %} checked {% endif %}/>
                   <label for="'ready">Готово</label>
                </div>
            </li>
           {% endfor%}
        </ul>
    </body>
</html>